/* --- Full page background --- */
html,
body,
.jp-LabShell,
.jp-NotebookPanel,
.jp-Notebook {
  height: 100%;
  /* margin: 6rem 1rem 4rem 1rem; */
  padding: 0;
  position: relative;
  /* background: url("https://t4.ftcdn.net/jpg/03/41/36/71/360_F_341367111_Cghn2q0TSlcsr4IwXmRYxbTJSE6oLLBN.jpg");
  repeat-y center / cover; */
  /* background: url("images/Painted White.jpg"); */
}

/* Optional: remove padding around output wrapper */
/* .jp-MarkdownOutput {
  background: transparent !important;
} */

/* ----- UNIVERSAL MARKDOWN BACKGROUND ----- */
.jp-MarkdownOutput .jp-RenderedHTMLCommon,
.jp-MarkdownOutput,
.jp-RenderedMarkdown,
.jp-Notebook
  .jp-Cell
  .jp-Cell-outputWrapper
  .jp-OutputArea
  .jp-RenderedHTMLCommon,
div.text_cell_render,
.cell.markdown .output,
.output-html,
.output-markdown {
  /* background: rgba(0, 0, 0, 0.1) !/important; */
  background: white;
  color: black !important;
  /* padding: 12px !important; */
  border-radius: 0 !important;
}

/* --- Output area background --- */
.jp-Cell-outputWrapper div div {
  /* background-color: red !important; */
  color: white !important;
  /* padding: 10px; 
    overflow: hidden; */
}

#cell-id=45282e3e {
    margin-top: 12rem;
}

main {
    width: 80%;
    margin: 8rem auto 0 auto;
    background: white;
    border: 1px solid rgb(210, 210, 210);
    /* position: relative;
    z-index: 10; */
    /* background: url("images/Painted White.jpg"); */
}


/* --- Toggle button --- */
.toggle-btn {
  border-radius: 10px !important;
  padding: 4px 10px !important;
  margin: 0 0 2px 0;
  font-size: 13px !important;
  cursor: pointer !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #ccc !important;
  color: #333 !important;
}
.toggle-btn:hover {
  background-color: #e0e0e0 !important;
}

/* --- Code transitions --- */
.code-transition {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.35s ease,
    opacity 0.35s ease;
}
.code-transition.show {
  max-height: 500px;
  opacity: 1;
}

body {
  margin: 0; /* remove default body margin */
}

img {
  width: 600px;
}

#img1-container {
  position: absolute; /* or fixed */
  top: -130px;
  left: -100px;
  width: 150%;
  height: 200px;
  overflow: hidden;

}

#img1 {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  opacity: 0.8;
  position: relative;
  z-index: -1;
}


div:has(.jp-Cell-outputWrapper) {
    padding: 1.4rem;
}

.panel-container {
  display: flex;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 0 0.5rem 0;
}

.panel {
    display: flex;
    flex-direction: column;
  /* background: linear-gradient(to right bottom, rgb(55, 55, 55), rgb(84, 84, 84)); */
  /* background-color: rgba(87, 87, 87, 0.7); */
  /* color: white; */
  color: #333;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  border: 1px solid white;
  max-width: 280px;
  box-shadow: 3px 3px 10px 0px #999;
  justify-content: center;
  margin-top: 4px;
}

.panel-green {
    background: linear-gradient(to right bottom, rgb(55, 95, 55), rgb(84, 199, 84));
}

.panel-blue {
    background: linear-gradient(to right bottom, rgb(55, 55, 95), rgb(84, 84, 200));
}

.panel-gray {
    background: linear-gradient(to right bottom, rgb(55, 55, 55), rgb(84, 84, 84));
}

.panel-red {
    background: linear-gradient(to right bottom, rgb(95, 55, 55), rgb(200, 84, 84));
}
/* .subpanel-green {
    border: 1px solid white;
    min-width: 80px;
    max-width: 100px;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    background: linear-gradient(to right bottom, rgb(55, 95, 55), rgb(84, 199, 84));
} */
/* .subpanel-red {
    border: 1px solid white;
    min-width: 80px;
    max-width: 100px;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    background: linear-gradient(to right bottom, rgb(95, 55, 55), rgb(200, 84, 84));
} */

.panel-brown {
    background: linear-gradient(to right bottom, rgb(70, 57, 26), rgb(162, 134, 67));
}

.panel-title {
  font-decoration: bold;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2em;
  margin-bottom: 10px;
  /* max-width: 160px; */
}

.panel-title > sup {
    font-size: 0.8rem;
}
.panel-date {
    /* color: #c0bebe; */
    color: #555;
    text-align: center;
}
.panel-subtitle,
.panel-group-subtitle {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.panel-group-subtitle {
    border-bottom: 1px solid #999;
}
.panel-subtitle div {
    text-align: center;
}

.panel-values {
    display: flex;
    gap: 1rem;
}

.panel-value,
.panel-group-value {
  font-size: 2rem;
  text-align: center;
}

.panel-value-green {
    color: rgb(100, 240, 100)
}

.panel-value-red {
    color: rgb(240, 140, 140)
}


.panel-group-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;

}

.panel-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}









.panel-footer {
    color: rgb(250,250,250);
    text-align: center;
}



.jp-CodeCell .jp-Cell-inputWrapper
{
    display: none !important;
}

.jp-CodeCell > .jp-Cell-outputWrapper img {
    /* border: 2px solid #999; */
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px #999;
}

div > div.jp-InputArea.jp-Cell-inputArea > div.jp-RenderedHTMLCommon.jp-RenderedMarkdown.jp-MarkdownOutput p img {
    border-radius: 5px;
    margin-top: 4px;
    box-shadow: 3px 3px 8px 0px #999;
}


.jp-Cell .jp-CodeCell, .jp-mod-noOutputs {
    display: none !important;
    
    
.celltag_remove_cell, .jp-RenderedText {
        display: none !important;    
        }
/*
.jp-OutputPrompt, .jp-OutputArea-prompt {
    display: none !important;    
}

.jp-Cell.jp-CodeCell.jp-Notebook-cell {
  border: 2px solid dodgerblue;
  border-radius: 6px;
  margin: 8px 0;
} */


.jp-Notebook-cell.celltag_remove_cell {
    display: none !important;
}